<div>
  <h1>Honey Do List</h1>
<input type="text" placeholder="Add a task..." [(ngModel)]="userEntry" />
<button (click)="addTask()">Add</button>
  <div *ngFor="let todo of todoList">
        <div *ngIf="todo.complete">
          <input (change)="completeTask(todo)" type="checkbox" />
          <span class="is-complete">  {{todo.title}} </span>
          <button (click)=Delete(todo)>x</button>
        </div>  
        <div *ngIf="!todo.complete">
          <input (change)="completeTask(todo)" type="checkbox" />
          {{todo.title}}
          <button (click)=Delete(todo)>x</button>
        </div>
  </div>
</div>



<div *ngIf="todoList.length == alldone">
<app-all-done></app-all-done>
</div>


